html {
  box-sizing: border-box;
  background: white;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  letter-spacing: 0.1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  /* max-width: 1200px; */
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

input {
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
}

button {
  max-width: 200px;
}

.sidebar {
  max-width: 15vw;
}

.results {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: baseline; */
  width: 75vw;
}
